<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.equinox.p2.publisher.FeaturesAndBundlesPublisher"
            name="ExportServeur">
         <property
               name="appName"
               value="ExportServeur">
         </property>
      </product>
   </extension>
   <extension
         id="ExportServeur"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.equinox.p2.publisher.FeaturesAndBundlesPublisher"
            name="ExportServeur">
         <property
               name="appName"
               value="ExportServeur">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.equinox.p2.publisher.FeaturesAndBundlesPublisher"
            name="ExportServeur">
         <property
               name="appName"
               value="ExportServeur">
         </property>
      </product>
   </extension>
   <extension
         id="product2"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.google.gwt.eclipse.core.GWTCodeFormatterApplication"
            name="ExportServeur">
      </product>
   </extension>
   <extension
         id="product3"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.ui.antRunner"
            name="ExportHost">
         <property
               name="appName"
               value="ExportHost">
         </property>
      </product>
   </extension>
   <extension
         id="product4"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.GenTopic"
            name="ExportClient">
         <property
               name="appName"
               value="ExportClient">
         </property>
      </product>
   </extension>

</plugin>
